
/* GERAL PARA TODO O SITE */
* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f2f2f2;
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #eceBea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}

.page-h1{
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem;
    color: #2f2f2f;
    font-size: 1.5rem;
    font-weight: 500;
    position:relative;
}

.page-h1::after {
  width: 6rem;
  border-bottom: 2px solid #2f2f2f;
  content: '';
  position: absolute;
  top: 2.5rem;
}

/* NAVBAR */

#navbar{
    border-bottom: 1px solid #7a7a7a;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 3rem;
    min-width: 1vh;
}


#navbar a:hover {
    color: #7a7a7a;
}

#navbar a.active {
    border-bottom: 1px solid #050505;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

/* HOME */
.post{
    position: relative;

}
.autor-info{
    max-width: 150px;
    display: flex;
    flex-direction: column;
}
.autor-name{
    font-size: 1.2rem;

}
.autor-email{
    font-size: 0.8rem;
    margin-top: -10px;

}

.cursos{
    width: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.curso{
    min-width: 100%;
    font-size: 0.7rem;
    background: #0DCAF0;
    text-align: center;
    margin-bottom: 0.5rem;

}
.post-info{
    display: flex;
    flex-direction: column;
}


.post-titulo{
    font-size: 1.8rem;
}
.post-titulo h3{
    font-size: 1.8rem;
    max-width: 80%;
}
.post-titulo button{
    font-size: 0.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;

}
.post-corpo{
     font-size: 1.2rem;
     max-width: 80%;
}
.post-data-criacao{
    font-family: monospace;
    font-size: 0.8rem;
}
.post-data-criacao span{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}


/* Usuários */
.usuario{
    width: 290px;
    padding: 0;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 760px) {
    .usuario{
        margin: 2rem auto;
    }
}

/* EDITAR PERFIL*/
.editar-foto{
    width: 100%;
}

/* POST */

.post-name{
    text-decoration: none;
}


/* CONTATOS */

 .bg_contato {
    background-image: url("../static/fotos_perfil/louco2.png");
    height: 100vh;
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0.95;
    margin-top: -80px;

}
@media (max-width: 760px) {
        .intro {
          opacity: 0.3;
          z-index: 0;
        }
      }