/* body{

    background-color:#B3E5FC;
    border-radius: 10px;
}
.card{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    }

.stats{
    background: #f2f5f8 !important;
    color: #0DCAF0 !important;
    font-size: 1rem;
    padding: 1.1rem !important;
}



.botao_editar_perfil{
    margin-top: 2rem;
}
.form-control-file {
    background-color: #ffffff!important;
    border-color: #0b5ed7!important;
    width: 100% !important;
    border-radius: 0.3rem !important;
}
.form-control-file.btn {
    background-color: #ffffff!important;
    border-color: #0b5ed7!important;
} */

* {
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #f2f2f2;
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #eceBea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}

/* NAVBAR */

#navbar{
    border-bottom: 1px solid #7a7a7a;
}


#navbar a:hover {
    color: #7a7a7a;
}

#navbar a.active {
    border-bottom: 1px solid #050505;
}

.navbar-brand {
    display: flex;
}

/* .navbar-brand img{
    width: 40px;
} */

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}
