{% extends 'base.html' %}

{% block head %}
    <title>Grupo da Familia</title>
{% endblock %}
{% block body %}
    <h1 class="page-h1">Grupo da Família</h1>
    <div class="container">
        {% for post in posts %}
            <div class="row border mb-2">
                <div class="col-2">
                    <div class="pt-2">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="img-fluid rounded">
                        <div class="row">
                            <div class="col-5">
                                <h3 class="mt-1">{{ post.autor.username }}</h3>
                                <address>{{post.autor.email}}</address>
                            </div>
                            <div class="col-7 p-2">
                                <span class="text-start"><small>{{ post.data_criacao.strftime('%d/%m/%Y') }}</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="row cursos me-3 ps-2 mb-2">
                            {% for curso in post.autor.cursos.split(';') %}
                                <span class="bg-info mt-2 text-center text-gray text-light-dark rounded">{{ curso }}</span>
                            {% endfor %}
                    </div>
                </div>
                <div class="col-10 p-2">
                    <a class="post-name " href="{{ url_for('exibir_post', post_id=post.id) }}">
                        <h3>{{ post.titulo }}</h3>
                    </a>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


