{% extends 'base.html' %}

{% block head %}
    <title>Perfil</title>
{% endblock %}
{% block body %}
<h1 class="page-h1">Perfil</h1>
<div class="container">
  <div class="card border border-info shadow mt-5" style="width: 18rem;">
    <img id="foto_usuarios"src="{{ foto_perfil }}" class="card-img-top" alt="Foto do Usuário">
    <div class="card-body">
      <div class="row b-0">
          <div class="col-6">
              <h5 class="card-title">{{current_user.username}}</h5>
              <address class="text-start">{{current_user.email}}</address>
          </div>
          <div class="col-6 text-end">
              <a href="{{ url_for('editar_perfil') }}"><button type="button" class="btn btn-outline-info card-link">Editar</button></a>
          </div>
      </div>
    </div>
    <div class="card-stats bg-info p-3 rounded">
      <div class="row g-0">
        <div class="col-6 text-start">
            <span class="text-muted ">Cursos:</span>
            {% if 'Não Informado' in current_user.cursos or current_user.cursos == '' %}
              <span class="text-black ms-1">0</span>
            {% else %}
              <span class="text-black ms-1">{{ current_user.cursos.count(';') + 1 }}</span>
            {% endif %}
        </div>
        <div class="col-6 text-end">
            <span class="text-muted ">Posts:</span>
            <span class="text-black ms-1 ">{{ current_user.contar_posts() }}</span>
        </div>
      </div>
    </div>
    <div class="card-body card-courses text-center">
      <span class="text-muted">Cursos:</span>
      <div class="cursos">
        {% for curso in current_user.cursos.split(';') %}
          <span class="bg-info mt-2 px-2 text-gray text-light-dark rounded">{{ curso }}</span>
        {% endfor %}
      </div>
  </div>
{% block form_editar_perfil %}
{% endblock %}
{% endblock %}